* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}

/* common css style */
.width {
  max-width: 1280px;
  margin: 0 auto;
}

#header-section .nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;
}

#header-section .nav-container h2 {
  font-size: 32px;
  font-weight: bold;
  color: #0e0e0e;
}

#header-section .nav-container .nav-btn {
  font-size: 18px;
  font-weight: 600;
  color: #006a50;
  padding: 15px 30px;
  border: 1px solid #006a50;
  border-radius: 8px;
  background: #fff;
  cursor: pointer;
}
