* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}

body {
  background-color: #f1f1f3;
}

/* common css style */
.width {
  max-width: 1280px;
  margin: 0 auto;
}

.section-title {
  font-size: 40px;
  font-weight: bold;
  color: #0e0e0e;
  margin-bottom: 26px;
}

/* main css style */

#header-section .nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;
}

#header-section .nav-container h2 {
  font-size: 32px;
  font-weight: bold;
  color: #0e0e0e;
}

#header-section .nav-container .nav-btn {
  font-size: 18px;
  font-weight: 600;
  color: #006a50;
  padding: 15px 30px;
  border: 1px solid #006a50;
  border-radius: 8px;
  background: #fff;
  cursor: pointer;
}

#hero-section {
  margin-top: 20px;
  margin-bottom: 80px;
}

#hero-section .hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  background-color: #c6e4d6;
  padding: 80px 100px;
  border-radius: 24px;
}

#hero-section .hero-container .hero-content {
  max-width: 622px;
}

#hero-section .hero-container p {
  font-size: 24px;
  font-weight: 500;
  color: #0e0e0e50;
  margin-bottom: 16px;
}

#hero-section .hero-container h1 {
  font-size: 56px;
  font-weight: bold;
  color: #0e0e0e;
  margin-bottom: 24px;
}

#hero-section .hero-container .hero-btn {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  padding: 17px 34px;
  border: none;
  background: #006a50;
  border-radius: 8px;
}

#pillar-section {
  margin-top: 80px;
}

#pillar-section .pillar-cards {
  display: flex;
  gap: 24px;
}

#pillar-section .pillar-cards .p-card {
  padding: 24px;
  border-radius: 16px;
  background: #fff;
  border: 2px solid #0e0e0e15;
}

#pillar-section .p-card img {
  max-width: 64px;
  margin-bottom: 24px;
}

#pillar-section .p-card h3 {
  font-size: 20px;
  font-weight: bold;
  color: #0e0e0e;
  margin-bottom: 12px;
}

#pillar-section .p-card p {
  line-height: 24px;
  color: #0e0e0e70;
}

#vision-section {
  margin-top: 80px;
}

#vision-section .vision-container > p {
  line-height: 24px;
  color: #0e0e0e70;
  margin-bottom: 32px;
}

#vision-section .vision-container .vision-cards {
  display: flex;
  gap: 24px;
}

#vision-section .vision-container .vision-cards .digital-bg {
  background: #5490f520;
}

#vision-section .vision-container .vision-cards .green-bg {
  background: #c6e4d6;
}

#vision-section .vision-container .vision-cards .modern-bg {
  background: #f7ebcf;
}

#vision-section .vision-container .v-card {
  max-width: 411px;
  padding: 32px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#vision-section .vision-container .v-card img {
  max-width: 64px;
  margin-bottom: 24px;
}

#vision-section .vision-container .v-card > h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 12px;
  color: #0e0e0e80;
}

#vision-section .vision-container .v-card > p {
  line-height: 24px;
  color: #0e0e0e70;
  margin-bottom: 24px;
}

#vision-section .vision-container .v-card > button {
  width: 122px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  padding: 11px 20px;
  border: none;
  border-radius: 8px;
}

#vision-section .vision-container .v-card .digital-btn {
  background: #5490f5;
}

#vision-section .vision-container .v-card .green-btn {
  background: #09a15c;
}

#vision-section .vision-container .v-card .modern-btn {
  background: #ffc239;
}

#vision-section .quation {
  margin-top: 32px;
  background: url("../assets/quote-bg.png");
  background-repeat: no-repeat;
  background-position: 24px 25px;
  /* background-size: ; */
  padding: 48px 24px;
  border: 2px solid #0e0e0e15;
  border-radius: 16px;
}

#vision-section .quation > p {
  line-height: 24px;
  color: #0e0e0e80;
}

#vision-section .quation div {
  margin-top: 12px;
}

#vision-section .quation div h3 {
  font-size: 20px;
  font-weight: 600;
  color: #0e0e0e80;
  margin-bottom: 5px;
}

#vision-section .quation div p {
  color: #0e0e0e60;
}

#opinion-section {
  margin-top: 80px;
}

.opinion-table {
  background: #fff;
  padding: 32px;
}

#opinion-section .opinion-container table {
  border-collapse: collapse;
  width: 100%;
  border-radius: 16px;
}

#opinion-section .opinion-container table th {
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  padding: 24px;
  background: #c6e4d6;
  border: 1px;
  border-top: 2px solid #0e0e0e15;
}

#opinion-section .opinion-container table th:first-child {
  border-left: 2px solid #0e0e0e15;
}

#opinion-section .opinion-container table th:last-child {
  border-right: 2px solid #0e0e0e15;
}

#opinion-section .opinion-container table td {
  color: #0e0e0e;
  font-weight: 600;
  padding: 24px;
  border: 2px solid #0e0e0e15;
}

#opinion-section .opinion-container table td select {
  text-align: center;
  width: 100%;
  font-weight: 500;
  background: #09a15c15;
  padding: 14px;
  border: 1px solid #0e0e0e;
  border-radius: 4px;
}
